@import 'colors';
.form-main{
	background-color:$form-bg;
	padding:20px;
	.input-box{
		margin:15px 0;
		.label-form{
			text-align: right;
			line-height: 25px;
		}	
	}
	input{
		border: 1px solid #b9b9b9;
    	border-bottom: 1px solid #30306d;
		width: 90%;
	}
	.login-link{
		text-transform: uppercase;
	}
}
.container{
	margin: 2%;
	width:70%;
	background-color:$white-bg;
	border: 1px solid #ebd5b5;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
}
.partners-area{
	padding: 5px 0;
	.label-info{
    margin: auto;
    color: #929292;
   }
	img{
		width: 100%;
	}
	.photos{
		img{
		width: 10% !important;
		margin:0 5px;
		}
	}

}